.travelDetails{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background-color: rgb(206, 224, 224);
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(172, 175, 172);
}
.travelDetails img {
    width: 100%;
    height: 60%;
}

.travelDetailsContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding-top: 200px;
}
@media(width:600px){
    .travelDetailsContainer{
        grid-template-columns: auto ;
    }
}