.loginContainer{
    text-align: center;
    padding-top: 50px;
    width: 100%;
    background-color: rgb(148, 159, 168);
    box-shadow: 10px 10px 0px rgb(223, 219, 216);
    margin: 0px auto;
    padding-bottom: 50px;
}
.loginContainer input{
    width: 50%;
    padding: 10px 0px;
    margin: 10px 0px;
}
.loginContainer Button{
    width: 50%;
    margin:0px auto;
}
.loginContainer button{
    width: 50%;
    margin:0px auto;
}
.checkBox{
    width: 50%;
    margin:0px auto;
}
@media(width:600px){
    .loginContainer input{
        width: 100%;
    }
    .checkBox{
        width: 100%;
    }
    .loginContainer Button{
        width: 100%;
    }
     .loginContainer button{
        width: 100%;
    }
}